@import url('https://fonts.googleapis.com/css?family=Catamaran:900&display=swap');

/* <<<<<<<< General >>>>>>>>>> */

:root {
  --basic-font: 'Catamaran';
  --white: whitesmoke;
  --blue: #067bc2;
  --text-color: black;
}

body {
    background-color: var(--white);
    color: var(--text-color);
    font-family: var(--basic-font);
    list-style-type: none;
}

/* .App {
  text-align: center;
} */


/* <<<<<<<< Navbar >>>>>>>>>> */
.navbar, .navbar a, .navItems {
  background-color: whitesmoke;
}

.logo {
    color: black;
    background-color: whitesmoke;
    margin: 0px;
    width: 200px;
}

.bell {
    color: black;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.navbar {
  display: flex;
  margin: 0px 0 30px 0;
}

.navItems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarItem {
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.navbarItem:hover {
  font-size: 32px;
}

.navbarItem:Focus {
  font-size: 32px;
}



/* <<<<<<<< APP >>>>>>>>>> */

.App-logo {
 font-size: 50px;
 margin: 0px;
 padding: 0px;
}

.pro-links {
  margin: 0px 120px 0px 5px;
  text-decoration: none;
  font-size: 20px;
  /* margin: 15px 0px 15px 0px; */
  /* color: aliceblue; */
}

.content-list {
  text-decoration: none;
  margin: 0px;
  font-size: 40px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               /* 0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa, */
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 10px 10px rgba(0,0,0,.15);
}

.text-pop {
  text-decoration: none;
  margin: 0px;
  text-shadow: 
               /* 0 3px 1px rgba(0,0,0,.1), */
               /* 0 0 3px rgba(0,0,0,.1), */
               /* 0 1px 3px rgba(0,0,0,.3), */
               0 3px 5px rgba(0,0,0,.2),
               0 3px 5px rgba(0,0,0,.25),
               0 3px 5px rgba(0,0,0,.2),
               0 3px 5px rgba(0,0,0,.15);
}

.pro-icon {
  height: 35px;
  width: 35px;
}

/* .about {
  margin-bottom: 20px;
  height: 350px;
  width: 100%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-left {
  grid-column: 2 / span 2;
  height: 0;
  width: 100%;
  border-left: 350px solid transparent;
  border-top: 350px solid whitesmoke;
  color: black;
} */